<div id='footer' class="footer bg-dark">
    <div class="row"> 
  
      <div class="col col-lg-4 col-md-4 col-sm-12 text-center">
        <h5 class="text-white"> Know more ..</h5>
        <ul>
          <li> <a href="{% url 'home' %}">Home</a> </li>
          <li> <a href="{% url 'education' %}">Education</a> </li>
          <li> <a href="{% url 'experience' %}">Experience</a> </li>
          <li> <a href="{% url 'skills' %}">Skills</a> </li>
          <li> <a href="{% url 'workdone' %}">My work</a> </li>
        </ul>
      </div>
  
      <div class="col col-lg-4 col-md-4 col-sm-12 text-center">
        <h5 class="text-white">Connect with me ..</h5>
        <ul>
          <li><a href=""><span class="fa fa-facebook"></span>&nbsp;&nbsp;Facebook</a></li>
          <li><a href=""><span class="fa fa-instagram"></span>&nbsp;&nbsp;Instagram</a></li>
          <li><a href=""><span class="fa fa-twitter"></span>&nbsp;&nbsp;Twitter</a></li>
          <li><a href=""><span class="fa fa-youtube"></span>&nbsp;&nbsp;Youtube</a></li>
          <li><a href=""><span class="fa fa-linkedin"></span>&nbsp;&nbsp;Linkedin</a></li>
        </ul>
      </div>
  
      <div class="col col-lg-4 col-md-4 col-sm-12 text-white text-center">
        <h4>Designed & Developed by:</h4>
        <h3>Ankit Gupta</h3>
        <p>&copy; 2020</p>
        <button id='move-to-top' class="btn btn-light"> Go To Top <span class="fa fa-arrow-up"></span></button>
      </div>
  
    </div>
  </div>

