#footer{
    width: 97%; 
    margin: auto;
    padding:16px;
    /* overflow: hidden; */
    background: transparent;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#footer .row .col ul li {
    list-style: none;
}
#footer .row .col{
    padding: 0;
}

.nav-item li:hover{
    background-color: #d4d8d4;
    border-radius: 3px;
}

.nav-item{
    margin-left: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.nav-item .nav-link{
    color:white !important;
}

#tel, #login-btn, #reg-btn{
    padding-top:0;
    padding-bottom:0;
}
@media (max-width:980px){
    #login-btn,#reg-btn{
        margin-top: 0.5rem;
    }
}
